*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: small;
}
/* styles.css */
body {
    background: radial-gradient(circle, #87CEEB, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myFrm{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 10px;
    /* margin: 20px; */
    width: 40%;
    
    
}
.box{
    margin: 60px;
    width: 80%;
}


img{
    height: 50px;
    width: 50px;
}
.container {
    
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    
    border-radius: 4px;
    
    width: 50%;
    box-sizing: border-box;
    text-align: left;
}
input,select,button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(199, 197, 197);
    color:gray;
    padding-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
select,button{
    width: 94%;
    height: 32px;
}
#lastline{
    width:100%; 
    text-align:center; 
    margin-top: 10px;
    margin-bottom: 20px;
}
.error {
    color: red;
    font-size: 0.875rem;
}
@media (max-width: 999px){
    .myFrm{
        width: 60%;
    }
    .box{
        margin: auto;
    }

}
@media (max-width: 599px) {
    .item {
        width: calc(100% - 0.5rem);
    }
    .box{
        margin: 0;
       width: 100%;
    }
    .text{
        text-align: center;
    }
    .myFrm{
        width: 60%;
        overflow: scroll;
        height: 80vh;
    }
    /* .item,input,select,button{
        text-align: center;
        
    } */
    .item{
        text-align: left;
        width: 60%;
        margin: auto;
    }
    input,select,button{
        width: 95%;
        margin-top: 5px;
        margin-bottom: 15px;
    }
     select,button{
        width: 100%;
    }
}
@media (max-width: 399px){
    .myFrm{
        width: 100%;
    }
    
    input{
        width: 95%;
    }
    select,button{
        width: 100%;
        margin-top: 10px;
    }

    .item{
        text-align: left;
        width: 60%;
        margin: auto;
    }
}
/* @media (max-width: 350px){
    .form{
        width: 100%;
        height: 80vh;
        overflow: scroll;
        background-color: #87CEEB;
    }
    .box{
        margin: 0;
        width: 100%;
    }
    input,select,button{
        width: 80%;
        margin-top: 0;
    }
     select,button{
        width: 80%;
        padding: 0;
        background-color: white;
    }
    
} */

/* @media (max-width: 900px) {
    .item {
        width: calc(33.333% - 0.66rem);
    }
} */